@tailwind base;
@tailwind components;
@tailwind utilities;

h3 {
  font-size: 25px;
  font-weight: 500;
}
body {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-style: normal;
  scrollbar-gutter: stable;
}
.bg-custom {
  background-color: rgb(249, 255, 249);
}
.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Make sure it stays behind your content */
  overflow: hidden;
}
.video-background video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover; /* Ensures the video covers the whole screen */
  z-index: -1;
}
.header {
  background-color: black;
  text-align: center;
  color: #c6f6d5;
  position: fixed;
  left: 0;
  right: 0;
  width: 90%;
  max-width: 900px;
}

.triangle-left {
  position: relative;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 10px solid #c6f6d5;
  transform: translateX(1px) translateY(10px);
}
.triangle-right {
  position: relative;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 10px solid rgb(229, 231, 235);
  transform: translateX(-1px) translateY(10px);
}
.chat-div {
  display: flex;
  flex-direction: column;
}
.chat-button {
  /* position: fixed; */
  /* max-width: 90%; */
  transform: translate(0%, -50%);
}
.chat-box {
  overflow: auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column-reverse;
  overflow-anchor: auto !important;
  vertical-align: top;
}
.chat-message {
  display: flex;
  margin: 10px 0 10px 0;
}

.scroller .scroller-content .chat-message {
  transform: translateZ(0);
}

.result-container {
  margin-bottom: 20px;
}

.result-list {
  margin-top: 10px;
  padding-left: 20px;
}

.result-list li {
  margin-bottom: 5px;
}

.opening {
  margin: auto;
  width: 120px;
  height: 120px;
  animation: spin-out 2s ease-in-out 1s;
}
@keyframes spin-out {
  0% {
    opacity: 0;
    width: 0px;
    height: 0px;
    transform: rotate(0deg);
  }
  45%,
  80% {
    opacity: 1;
    width: 120px;
    height: 120px;
    transform: rotate(720deg);
  }
  100% {
    opacity: 1;
    width: 120px;
    height: 120px;
    transform: rotate(720deg);
  }
}
.slide-down {
  opacity: 0;
  transform: translateY(-30px);
  transition: opacity 0.5s ease-in-out, transform 1s;
}
.slide-down.show {
  transform: translateY(0px);
  opacity: 1;
}
.fade-in {
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}
.fade-in.show {
  opacity: 1;
}
.info-section {
  flex: 1 1 300px;
  display: flex;
  flex-wrap: wrap;
  padding: 15px 25px;
  justify-content: space-between;
}

.smooth-fade {
  transition: opacity 1s ease-in-out;
}

.card {
  flex: 1 1 500px;
  /* width: 300px; */
  height: 400px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  padding: 20px;
  color: white;
  border-radius: 5px;
  margin: 5px;
}

.card-content {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
}

.attention {
  animation: attention 3s infinite;
}
@keyframes attention {
  0%,
  80%,
  90%,
  100% {
    transform: translateY(0);
  }
  85% {
    transform: translateY(13px);
  }
  95% {
    transform: translateY(8px);
  }
}
